<main class="tcalculator" id="tcalculator">
    <section class="tcalculator__header">
        <h1><span>TC</span>alculator</h1>
        <div class="tcalculator__theme-mode">
            <input type="checkbox" name="mode" id="mode" value="dark">
            <label for="mode">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
            </label>
        </div>  
    </section>
    <section class="tcalculator__screen">
        <p id="operation"></p>
        <p> <span>=</span><span id="result"></span></p>
    </section>
    <section class="tcalculator__buttons" id="tcalculator__buttons">
        <button class="button-theme" data-op="(">(</button>
        <button class="button-theme" data-op=")">)</button>
        <button class="button-theme" data-op="c">C</button>
        <button class="button-theme" data-op="_"> <i class="fas fa-delete-left"></i> </button>
        <button class="button-theme" data-op="%">%</button>
        <button class="button-theme" data-op="/">/</button>
        <button class="button-theme" data-op="*">*</button>
        <button class="button-theme" data-op="-">-</button>
        <button data-op="1">1</button>
        <button data-op="2">2</button>
        <button data-op="3">3</button>
        <button class="button-theme" data-op="+">+</button>
        <button data-op="4">4</button>
        <button data-op="5">5</button>
        <button data-op="6">6</button>
        <button data-op="7">7</button>
        <button data-op="8">8</button>
        <button data-op="9">9</button>
        <button data-op="=">=</button>
        <button data-op="0">0</button>
        <button data-op=".">.</button>
    </section>
</main>